.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #F0F2F5;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.container {
  width: 70%;
  display: flex;
  text-align: left;
  justify-content: flex-start;
  gap:40px;
  min-width: 900px;
}

.logoBox {
  width:60%;
  margin-top: 80px;
}

.logoImage {
  height:106px;
  margin: 0 0 0 -28px;
}

.sideText {
  font-size: 28px;
  font-family: helvetica;
}

.formBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width:45%;
  flex-direction: column;
}

.formWhiteBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15px;
  width:100%;
  padding:15px;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.formInput {
  padding:15px;
  border:0.1px solid #dddfe2;
  border-radius:6px;
  width: 100%;
  font-family: helvetica;
  /* border:none; */
}

.formInput:focus {
  border:1px solid #1877f2;
  outline:none;
}

.loginButton {
  width: 100%;
  background-color: #1877f2;
  border-radius: 6px;
  font-family: helvetica;
  font-size: 20px;
  font-weight: 700;
  color:#FFFFFF;
  border:none;
  padding: 12px;
  margin-top: 15px;
}


.forgetPassword{
  font-family: helvetica;
  color:#1877f2;
  text-align: center;
}

.dividerBox {
height:0.5px;
background-color: #dadde1;
width: 100%;
}

.createButton {
  font-family: helvetica;
  color:#FFFFFF;
  background-color: #42B72A;
  width: 60%;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
  border:none;
  padding: 15px 0;
  margin-top: 15px;
}

@media only screen and (max-width: 900px) {
  .container {
    width:70%;
    min-width: 0;
    flex-direction: column;
    text-align: center;
    min-width: 500px;
  }

  .logoBox {
    width:100%;
    margin-top: 0;
    min-width: 500px;
  }
  .formBox{
    width:100%;
    margin-top: 80px;
    min-width: 500px;
  }
}